body{
    background-color: #111;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
    margin-right: 50px;
    font-family: 'Hina Mincho', serif;
    font-size: 20px;
    color: white;
}
li :hover{
    color: red;
}
h1{
    font-family: 'Allison', cursive;
    font-size: 30px;
    color: white;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-around;
}
.earring{
    height:400px;
    margin-left: 30px;
    margin-top: 20px;
}
.earrings-description{
    position: relative;
}
.main-section{
    /* padding: 1em;
    column-count: 3; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.img-text{
    position: absolute;
    width: 250px;
    top: 300px;
    left: 50px;
    font-family: 'Space Mono', monospace;
    color: wheat;
}
.img-text2{
    position: absolute;
    top: 360px;
    left: 50px;
    color: #c7b0b0;
}
.nigth{
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
}
.the-sterry{
    position: relative;
}
.night-text{
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: rgb(252, 252, 252);
    top: 145px;
    left: 50px;
}
.night-text2{
    position: absolute;
    color: #c7b0b0;
    top: 180px ;
    left: 50px;
}
.flower-image{
    width: 300px;
    height: 330px;
    margin-top: 20px;
    margin-left: 20px;
}
.flowers{
    position: relative;
}
.flower-text{
    position: absolute;
    font-family: 'Space Mono', monospace;
    color: rgb(252, 252, 252);
    width: 250px;
    top: 230px;
    left: 50px;
}
.flower-text2{
    position: absolute;
    color: #c7b0b0;
    top: 300px;
    left: 50px;
}
.wave-image{
    width: 300px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
}
.wave{
    position: relative;
}
.wave-text{
    position: absolute;
    width: 250px;
    font-family: 'Space Mono', monospace;
    color: #0a0505;
    top: 170px;
    left: 50px;
}
.wave-text2{
    position: absolute;
    color: #0c0101;
    font-family: 'Space Mono', monospace;
    top: 230px;
    left: 50px;
}
.storm-image{
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
}
.storm{
    position: relative;
}
.storm-text{
    position: absolute;
    width: 280px;
    color: rgb(252, 252, 252);
    font-family: 'Space Mono', monospace;
    bottom: 40px;
    left: 50px;
}
.storm-text2{
    position: absolute;
    left: 50px;
    color: #c7b0b0;
    bottom: 20px;
}
.unsplash-image{
    width: 300px;
    margin-left: 30px;
    margin-top: 20px;
}
.unsplash{
    position: relative;
}
.unsplash-text{
    position:absolute;
    width: 280px;
    color: rgb(252, 252, 252);
    font-family: 'Space Mono', monospace;
    left: 50px;
    bottom: 30px;
}
.unsplash-text2{
    position: absolute;
    color: #c7b0b0;
    left: 50px;
    bottom: 10px;
}
.lady{
    position: relative;
}
.lady-image{
    width: 300px;
    margin-left: 30px;
    margin-top: 20px;
    height: 380px;
}
.lady-text{
    position: absolute;
    color: rgb(252, 252, 252);
    font-family: 'Space Mono', monospace;
    left: 50px;
    bottom: 35px;
}
.lady-text2{
    position: absolute;
    color: #c7b0b0;
    left: 50px;
    bottom: 15px;
}
.footer-grid{
    width: 100%;
    height: 250px;
    background-color: rgb(129, 124, 112);
}
.list-style{
    color: black;
    font-family: 'Hina Mincho', serif;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
.list-style :hover{
    color: red;
}
.h4-text{
    background-color:  rgb(129, 124, 112);
    font-size: 20px;
    font-family: 'Space Mono', monospace;
}